body{
    background-image: url('/static/images/red-back.jpeg');
    background-size: 100% 100%;
}

.top-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background-color: antiquewhite;
    border: 2px;
    border-color: rgba(132, 52, 64, 0.912);
    border-radius: 20px;
    margin-top: 10px;
}

.input-box{
    background-color: antiquewhite;
    border-radius: 50px;
    border:1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding:12px;
    width: 600px;
}

.dropdown{
  background-color: antiquewhite;
  border-radius: 20px;
    border:1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding:12px;
    width: 180px;
}

.input-box input{
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
    background-color: antiquewhite;
}

.full-body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100vh;
  }
  
  .input-box {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: antiquewhite;
  }
  
  .submit {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #answer-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
  }
  
  .answers {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
  }
  
.answer-box h3 {
    margin: 0;
    font-weight: normal;
  }