<!doctype html>
<title>Cork Dorks - Flaskr</title>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css" media="all">
</head>

<header>
    <h1>Cork Dorks Wine Recommender</h1>
    <h4>A simple to use wine rocommending service</h4>
</header>

<body>
    <h4>Insert preferences below to begin.</h4>
    <div class="full-body-container">
        <form id='request-info' method="post" action="/">
            <div id="feedback-price" class="feedback">
                <label for="price-field">Maximum Price: </label>
                <input id=price-field type="float" name="price">
            </div>
            <div id="feedback-points" class="feedback">
                <label for="points-field">Points: </label>
                <input id="points-field" type="int" name="points">
            </div>
            <div class="align-right">
                <button id="request-submit" type="submit" name="request-info">Submit Information </button>
            </div>
        <div id="answer-box">
        </form>
    </div>

</body>